<div class="container col-lg-offset-1 col-lg-10">
	<% if @user.errors.any? %>
           <div id="error_explanation" class="alert alert-danger">
            <span><%= pluralize(@user.errors.count, "error") %>prohibited this obj from being saved:</span>
               <ul>
                   <% @user.errors.full_messages.each do |message| %>
                   <li><%= message %></li>
                   <% end %>
               </ul>
           </div>
          <% end %>
	<h2>User info</h2>
	<%= form_for(@user) do |f| %>
	<span>Name</span><%= f.text_field :name %><br>
	<span>Image</span><%= f.attachment_field :profile_image, placeholder: "プロフィール画像"%><br>
    <span>Introduction<span><%=f.text_area :introduction %><br>
    <%= f.submit 'Update User'%>

    <% end %>
</div>